<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">

  <title>Search To Do's</title>
</head>
<body>

  <!-- header -->
  <div class="well">
    <div class="container">
      <div class="page-header">
        <h1>To Do </h1>
      </div>
    </div>
  </div>

  <!-- page content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      	<form class="form-inline" id="search">
 			<input type="text" name="search" placeholder="Search" autofocus>
 			<input type="submit" value="Submit">
		</form>
      </div>
    </div>
  </div>
  
  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>