<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <title> search </title>
  </head>
  	<body> 
		<form id="inputForm"> 
						<input id="searchTodo" type="text" name="searchTodo" placeholder="search" required>
						<!-- <input id="songTitle" type="text" name="songTitle" placeholder="song title"> -->
						<input class="btn" id="search" type="submit" value="search">
					</form>

		<div class="stuffGoesHere"> </div>

  	</body> 
  </html>
